<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0" >
        <link rel="stylesheet" type="text/css" href="~/css/statistic.css" >
    </head>
    <body>
        <div class="main">
            <div class="topbar">
                <div class="search">
                    <label>
                        <input type="text" placeholder="rechercher un article">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    </label>
                </div>
            </div>
        </div>
    </body>
</html>