@model Calculator.Models.RawMaterialDto

<!DOCTYPE html>
<html>
<head>
    <title>Ajouter produit</title>
    <link rel="stylesheet" type="text/css" href="~/css/Ajout.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <img class="wave" src="~/images/wave.png">
    <div class="container">
        <div class="img">
            <img src="~/images/puzz.png" style="width:400px; height:400px;">

        </div>
        <div class="login-content  mt-xxl-5">
            <form method="post" action="/RawMaterial/AddRawMaterial">
                <img src="~/images/av.png">

                <div class="input-div one  ">
                    <div class="i">
                        <i class="fas fa-signature"></i>
                    </div>
                    <div class="div">
                        <input type="text" name="Name" placeholder="Nom du matière première" class="input" asp-for="Name">
                    </div>
                </div>


                <div class="input-div one  ">
                    <div class="i">
                        
                        <i class="fas fa-scale-balanced"></i>
                    </div>
                    <div class="div">
                        <input type="text" name="Unit" placeholder="Unité du matière première" class="input" asp-for="Unit">
                    </div>
                </div>

                <div class="buttons">

                    <input type="submit" class="btn" value="Enregistrer">
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="~/js/main.js"></script>
</body>
</html>
